.PinCode{
    width: 400px;
    margin: 0 auto;
    background: royalblue;
    box-shadow: 0 0 5px;
    margin-top: 100px;
}
.Input{
    padding-top: 1.75%;
    border: 1px solid black;
    background: white;
    height: 20px;
}


.Button{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.Button button{
    width: 20%;
    height: 30px;
    line-height: 30px;
    margin: 2%;
    border: none;
    outline: none;
    background: #e65f5f;
    color: white;
    font-weight: 700;
}
.Button button:hover{
    box-shadow: 0 0 5px;
}